<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Sauna Games</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1 id="header">
    <p id="title">Sauna Games</p>
      <button id="navbutton1">My Page</button>
      <button id="navbutton2">Store</button>
  </h1>
  <div id="body">
    {{{ body }}}
  </div>
   