<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <title>Sauna Games</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1 id="header">
    <p id="title">Sauna Games</p>
      <button id="navbutton1">My Page</button>
      <button id="navbutton2">Store</button>
  </h1>
  <div id="body">
    {{{ body }}}
  </div>
      <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <span role="img" aria-label="money">💸</span>
        <a href="/">Fund My Project!</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
</body>

</html>
