<h1>Catalog Page</h1>

{{#if games.length}}

<div class="columns is-multiline">
    {{#each games as |game| }}    
    <div class="column is-half" id="game-card">
        {{game.title}}
        {{game.description}}
         {{game.release_date}} 
    </div >
    
    {{/each}}
    {{else}}
    <p> Coming soon! </p>
</div>

{{/if}}


    