<h1>Catalog Page</h1>

{{#if games.length}}

<div class="columns is-multiline">
    {{#each games as |game| }}    
    <div href=`/game/${game.id}` class="column is-half" id="game-card">
        {{game.title}}
        {{game.price}}
    </div >
{{!-- add an a tag with a link to <a href=`/game/${game.id}`></a> --}}
    {{/each}}
    {{else}}
    <p> Coming soon! </p>
</div>

{{/if}}


    