<h1>Catalog Page</h1>

{{#if game.length}}

<div>
    <div> 
        {{#each game as |games| }}
    </div>
    <div>
        {{games.title}}
    </div>
    <div>
        {{games.description}}
    </div>
    <div>
        {{games.release_date}}
    </div>
    {{/each}}
    {{else}}
    <p> Game not in available. </p>

</div>

{{/if}}