<h1>Catalog Page</h1>

{{#if games.length}}

<div>
    <div> 
        {{#each games as |game| }}
    </div>
    <div>
        {{game.title}}
    </div>
    <div>
        {{game.description}}
    </div>
    <div>
        {{game.release_date}}
    </div>
    {{/each}}
    {{else}}
    <p> Coming soon! </p>
    

</div>

{{/if}}