<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sauna Games - Saved Game Library</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <h1 id="header">
    <p id="title">Sauna Games</p>
    <button id="navbutton1">My Page</button>
    <button id="navbutton2">Store</button>
  </h1>
  <div id="body">
    <div class="container">
      <div class="columns">
        <div class="column is-two-thirds">
          <h2>Saved Game Library</h2>

          {{#if games.length}}
          <div class="columns is-multiline">
            {{#each games}}
            <div class="column is-half" id="game-card">
              <h3>{{title}}</h3>
              <p>{{description}}</p>
              <p>Release Date: {{release_date}}</p>
            </div>
            {{/each}}
          </div>
          {{else}}
          <p>No saved games found.</p>
          {{/if}}
        </div>
        <div class="column is-one-third has-text-right">
          <button id="profile-button">Profile</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
