<h2>Saved Game Library</h2>

{{#if games.length}}
  <div class="columns is-multiline">
    {{#each games}}
      <div class="column is-half" id="game-card">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <p>Release Date: {{release_date}}</p>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>No saved games found.</p>
{{/if}}
