<div class="row">
  <div class="bgImage-container">
    <div class="grid-container">
    <div class="loginImage">
    </div>
    <div class="grid-item">
      <div class="h2">Login</div>
        <form class="form login-form entries">
          <div class="form-group entry">
            <label for="email-login">E-mail:</label>
            <input class="form-input" type="text" id="email-login" />
          </div>
          <div class="form-group entry">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <div class="btn-form">
              <button class="btn btn-primary submit" type="submit">Login</button>
            </div>
          </div>
      </form>
    </div>
    <div class="grid-item">
      <div class="h2">Signup</div>
        <form class="form signup-form entries">
          <div class="form-group entry">
            <label for="name-signup">Name:</label>
            <input class="form-input" type="text" id="name-signup" />
          </div>
          <div class="form-group entry">
            <label for="email-signup">E-mail:</label>
            <input class="form-input" type="text" id="email-signup" />
          </div>
          <div class="form-group entry">
           <label for="password-signup">Password:</label>
            <input class="form-input" type="password" id="password-signup" />
          </div>
          <div class="form-group">
            <div class="btn-form">
              <button class="btn btn-primary submit" type="submit">Signup</button>
            </div>  
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
 


<link rel="stylesheet" href="/css/style.css">
<script src="./js/login.js"></script>
