body {
  background-color: #3D3D3D;
  height: 100%;
  height: 100vh;
}

button {
  color: #30D5C8;
  background-color: #3D3D3D;
}

input {
  font-size: 1.3rem;
  text-align: center;
  background-color: #434242;
  color: #FCFEDA;
}


h2 {
  color: #FCFEDA;
}

.form-group {
  color: #FCFEDA;
} 

.h1 {
  font-size: 80px;
  color: #30D5C8;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  size: 20px;
}

.bgImage-container {
  background-image: url(../images/loginPageImg.jpeg);  
  height: 55rem;
}

.btn {
  padding: .5rem 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.col-md-6 {
  background-color: #3D3D3D;
  padding: 1.5rem;
  padding-bottom: 4.2rem;
  padding-top: 3rem;
  float: left;
  margin-top: 18rem;
  margin-left: 26rem;
  font-size: 2.5rem;
  border: .25rem solid #30D5C8;
  border-radius: .5rem;

}

.col-md-8 {
  background-color: #3D3D3D;
  padding: 1.75rem;
  float: right;
  margin-top: 18rem;
  margin-right: 26rem;
  font-size: 2.5rem;
  border: .25rem solid #30D5C8;
  border-radius: .5rem;
}

.game-title {
  color: #30D5C8;
  font-size: 45px;
}

.game-description {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: left;
  color: #FCFEDA;
  font-size: 30px;
}

.price {
  font-size: 30px;
  margin-left: 10px;
  color: #FCFEDA;
}

#logo {
  margin-top: 5px;
  margin-left: 10px;
  height: 100px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbutton {
  float: right;
  margin-right: 20px;
  margin-top: 10px; 
  padding:10px 15px;
  border-radius: 5px;
  border-color: white;
  border-width: 1px;
}

#catalog {
  height: 0%;
}

#body {
  background-color: #3D3D3D;
}

#flex-catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#game-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  height: 100%;
  margin: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  width: 40%;
}

#link {
  max-height: 100%;
  max-width: 100%;
}

#sub-game-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 15px;
}

#img-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

#game-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#details-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 98%;
  gap: 10px;
}

#game-page-details-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 98%;
  gap: 20px;
}

#game-page-title {
  margin: 10px;
}

#game-page-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 50%;
  max-height: 40vh;
  object-fit: contain;
}

#game-page-price {
  color: #30D5C8;
}

#button-container {
  text-align: right;
  padding-bottom: 20px;
}

#library-button {
  margin-top: 5px;
  margin-right: 10px;
  width: 150px;
  height: 75px;
  font-size: 20px;
}

@media only screen and (max-width: 1200px) {
  #game-card {
    width: 100%;
  }
}

@media only screen and (max-width: 997px) {
  #game-page-details-card {
    display: block;
    width: 100%;
  }

  .game-description {
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
  }

  #game-page-price {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #button-container {
    text-align: center;
  }

  #library-button {
    margin: 10px;
  }
}